<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- page specific -->
	<style type="text/css">
	@import url(http://localhost:8880/resources/common/js/misc/auto-table-to-chart/css/flash_chart_style.css);
	@import url(http://localhost:8880/resources/common/js/misc/auto-table-to-chart/css/example.css);
	</style>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/mootools/1.3.0/mootools-yui-compressed.js"></script>
	<script type="text/javascript" src="/resources/common/js/licensing/Highcharts-2.1.6/js/adapters/mootools-adapter.js"></script>
	<script type="text/javascript" src="/resources/common/js/licensing/Highcharts-2.1.6/js/highcharts.js"></script>
	
    <script type="text/javascript" src="/resources/common/js/extJs/ext-3.2.1/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="/resources/common/js/extJs/ext-3.2.1/ext-all.js"></script>
	<script type="text/javascript" src="/resources/common/js/extJs/ux-3.2.1/ux-all.js"></script>
	<script type="text/javascript" src="/resources/common/js/dojo/dojo-1.5.xd.js"></script>
    <script type="text/javascript" src="/resources/common/js/misc/log4javascript.js"></script>

	<script type="text/javascript" src="/resources/common/js/side-labs/default/String.js"></script>

    <script type="text/javascript" src="/resources/common/js/side-labs/deepCopy.js"></script>

	<script type="text/javascript" src="/resources/common/js/side-labs/SIDE/Base.js"></script>
	<script type="text/javascript" src="/resources/common/js/side-labs/SIDE/Util.js"></script>
	<script type="text/javascript" src="/resources/common/js/side-labs/SIDE/pattern/Observer.js"></script>
    <script type="text/javascript" src="/resources/common/js/side-labs/SIDE/model/view/Metadata.js"></script>
	<script type="text/javascript" src="/resources/common/js/side-labs/SIDE/misc/SIDE_Chart.js"></script>
    <script type="text/javascript" src="/resources/common/js/side-labs/SIDE/security/Authenticator.js"></script>

    <script type="text/javascript" src="../chart.properties"></script>

	<script type="text/javascript">
//	function showChart(result, request) {
	function showChart(data) {
//		data = result.
		var chart = new SIDE_Chart(data, table);
		chart.convertData2Chart();
	}
	
	function showView(data) {
		var ticket = data.value;
//		var url = "/alfresco/service/com/bluexml/side/view/yamma_share/Document_DataList_Main.json",
//		var url = SIDE_Util.addProxyService(viewWebService + "?alf_ticket=" + ticket, "text/json");		
		var xhrArgs = {
			url: SIDE_Util.getParam("viewWebService") + "?alf_ticket=" + ticket,
			mimeType: "text/json",
			async: false,
			success: showChart,
			failure: function() {
				// Error
			}
		};
		var data = SIDE_Util.get(xhrArgs);

	}
	
/*
		Observer.subscribe("/authenticate/ticket", showView);
		var guardian = new SIDE_Authenticator("http://localhost:8087/alfresco/service/api/login");
		guardian.getTicket("admin", "admin");
*/
 
var chart1; // globally available
$(document).ready(function() {
      chart1 = new Highcharts.Chart({
         chart: {
            renderTo: 'component',
            type: 'line'
         },
         title: {
            text: 'Fruit Consumption'
         },
         xAxis: {
            categories: ['Apples', 'Bananas', 'Oranges']
         },
         yAxis: {
            title: {
               text: 'Fruit eaten'
            }
         },
         series: [{
            name: 'Jane',
            data: [1, 0, 4]
         }, {
            name: 'John',
            data: [5, 7, 3]
         }]
      });
});

	</script>

</head>
<body>
    <div id="component"></div>
</body>
</html>