<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SIDE Library Examples</title>

    <link rel="stylesheet" type="text/css" href="http://localhost:8880/resources/common/js/extJs/ext-3.2.1/resources/css/ext-all.css" />
    <link rel="stylesheet" type="text/css" href="./css/browser.css">

    <script type="text/javascript" src="resources/js/specific/Datasource.js"></script>
    <script type="text/javascript" src="resources/js/specific/Authentication.js"></script>

    <script type="text/javascript" src="http://localhost:8880/resources/common/js/extJs/ext-3.2.1/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="http://localhost:8880/resources/common/js/extJs/ext-3.2.1/ext-all.js"></script>
    <script type="text/javascript" src="http://localhost:8880/resources/common/js/extJs/ux-3.2.1/miframe.js"></script>
    
	<script type="text/javascript" src="http://localhost:8880/resources/common/js/dojo/dojo-1.5.xd.js"></script>
    <script type="text/javascript" src="http://localhost:8880/resources/common/js/side-labs/Observer.js"></script>

	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAQXRNkWhGRXjcufeG1Vuh5RSyx7RdaMOBOyUa4F9slptSKMqjCxRJa_ujJm9c5EswZ0raWqnH7lKD9Q" type="text/javascript"></script>
	
    <!-- page custom -->
    <script type="text/javascript" src="resources/js/specific/Custom.js"></script>    
    <script type="text/javascript" src="resources/js/specific/Type.View.js"></script>
    <script type="text/javascript" src="resources/js/specific/Type.Form.js"></script>
    <script type="text/javascript" src="resources/js/specific/Browser.js"></script>
    
</head>
<body>
    <div id="header">
    	<h1>
    	<span title="SIDE Library Browser">SIDE Library Browser</span> |
    	<span title="Menu 1">Menu 1</span> |
    	<span title="Menu 2">Menu 2</span>    	
    	</h1>
    </div>

    <div style="display:none;">

        <!-- Start page content -->
        <div id="start-div">
            <div style="float:left;" ><img src="css/images/layout-icon.gif" /></div>
            <div style="margin-left:100px;">
                <h2>Welcome!</h2>
                <p>There are many sample layouts to choose from that should give you a good head start in building your own
                application layout.  Just like the combination examples, you can mix and match most layouts as
                needed, so don't be afraid to experiment!</p>

                <p>Select a layout from the tree to the left to begin.</p>
            </div>
        </div>

        <!-- Details content -->
        <div id="details">
        	<p>You can view the javascript file here :</p>
        	<p><a href="" id="file-href" target="_blank"></a></p>
        </div>
        
        <!-- Iframe content -->
        <div id="container">
      		<iframe id="containerBody" class="x-panel-body" style="frameBorder:0;width:100%;height:100%;"></iframe>  
    	</div>

    </div>
</body>
</html>
