<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="css/browser.css">
    <link rel="stylesheet" type="text/css" href="/side-demo/console/resources/css/custom.css">
    
    
    <link rel="stylesheet" type="text/css" href="/resources/common/js/extJs/ext-3.2.1/resources/css/ext-all.css" />

    <script type="text/javascript" src="/resources/common/js/extJs/ext-3.2.1/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="/resources/common/js/extJs/ext-3.2.1/ext-all-debug.js"></script>
    <script type="text/javascript" src="/resources/common/js/extJs/ux-3.2.1/ux-all.js"></script>
    <script type="text/javascript" src="/resources/common/js/extJs/ux-3.2.1/GMapPanel.js"></script>
    <script type="text/javascript" src="/resources/common/js/extJs/ux-3.2.1/miframe.js"></script>

	<script type="text/javascript" src="/resources/common/js/jquery/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="/resources/common/js/dojo/dojo-1.6.0.xd.js"></script>

	<script type="text/javascript" src="/resources/common/js/misc/pdfobject_min.js"></script>
    <script type="text/javascript" src="/resources/common/js/misc/log4javascript.js"></script>

	<script type="text/javascript" src="/resources/common/js/side-labs/default/String.js"></script>
    <script type="text/javascript" src="/resources/common/js/side-labs/deepCopy.js"></script>

    <script type="text/javascript" src="./gmap.js"></script>

</head>
<body>
    <div id="grid-example-gmap"></div>
</body>
</html>